@{
    ViewData["Title"] = "Culture";
}

<div class="text-center">
    <h1 class="display-1">
       «Голубой» и «розовый» периоды
    </h1>
    <p>В 1900 году Пикассо со своим другом, художником Касагемасом, уехал в Париж, где посетил Всемирную выставку. Именно там Пабло Пикассо познакомился с творчеством импрессионистов. Его жизнь в это время была сопряжена со многими трудностями, а самоубийство Карлоса Касагемаса 17 февраля 1901 года глубоко потрясло молодого Пикассо.</p>

</div>
