@{
    ViewData["Title"] = "Early Years";
}

<div class="text-center">
     <h1 class="display-2"> Детство </h1>
    <p>Согласно испанской традиции, Пикассо получил две фамилии по первым фамилиям родителей: отца — Руис и матери — Пикассо. Полное имя, которое будущий художник получил при крещении — Пабло Диего Хосе Франсиско де Паула Хуан Непомусено Мария де лос Ремедиос Сиприано[12] (Криспиниано[13]) де ла Сантисима Тринидад Мартир Патрисио Руис и Пикассо. Фамилия Пикассо по матери, под которой художник получил известность, имеет итальянское происхождение: прадед матери Пикассо Томмасо переехал в Испанию в начале XIX века из местечка Сори в провинции Генуя. В доме на малагской площади Мерсед, где родился Пикассо, ныне размещаются дом-музей художника и фонд, носящий его имя.</p>


</div>