@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Пабло Пикассо
    </h1>
    <p>Па́бло Руи́с-и-Пика́ссо[5] (полное имя — Па́бло Дие́го Хосе́ Франси́ско де Па́ула Хуа́н Непомусе́но Мари́я де лос Реме́диос Сиприа́но де ла Санти́сима Тринида́д Ма́ртир Патри́сио Руи́с-и-Пика́ссо; в русском языке принят также вариант с ударением на французский манер Пикассо́[6][7], исп. Pablo Diego José Francisco de Paula Juan Nepomuceno María de los Remedios Cipriano de la Santísima Trinidad Mártir Patricio Ruiz y Picasso; 25 октября 1881, Малага — 8 апреля 1973, Мужен) — испанский и французский[5] художник, скульптор, график, театральный художник, керамист и дизайнер.</p>
    
</div>
